In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
data=pd.read_csv('Social_Network_Ads.csv')

In [5]:
data.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [6]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [8]:
data['Purchased'].unique()

array([0, 1], dtype=int64)

In [9]:
data.shape

(400, 5)

In [11]:
len(data['User ID'].unique())

400

In [12]:
del data['User ID']

In [13]:
data.dtypes

Gender             object
Age                 int64
EstimatedSalary     int64
Purchased           int64
dtype: object

In [14]:
data['Gender']=data['Gender'].astype('category')

In [15]:
for cols in data.columns:
    if str(data[cols].dtype)=='category':
        data[cols]=data[cols].cat.codes

In [16]:
data.dtypes

Gender              int8
Age                int64
EstimatedSalary    int64
Purchased          int64
dtype: object

In [17]:
data.head()

   Gender  Age  EstimatedSalary  Purchased
0       1   19            19000          0
1       1   35            20000          0
2       0   26            43000          0
3       0   27            57000          0
4       1   19            76000          0

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
data=data.values

In [23]:
x=data[:,0:3]
y=data[:,3]

In [24]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y)

In [25]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
xtrain = sc.fit_transform(xtrain)
xtest = sc.transform(xtest)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [26]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
classifier.fit(xtrain, ytrain)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [27]:
classifier.score(xtest,ytest)

0.91